* {
    font-family: Roboto, sans-serif;
}

nav {
    height: 50px;
    background-color: #212121;
    /*position: fixed;*/
}

header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    color: #ffffff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 35px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_of {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
}

.subheader .number {
    font-size: 22px;
    color: #ffffff;
    margin-top: 8px;
}

.subheader .subheader_call {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 19px;
    text-align: right;
}

.subheader .call_order {
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 19px;
}

.promo {
    min-height: 800px;
    background: url(../img/hero.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subhead {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_text {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.reasons {
    padding: 71px 0 68px 0;
    min-height: 900px;
}

.label {
    width: 112px;
    height: 24px;
    background-color: #000000;
    display: block;
    margin: auto;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
}

.reason_header_fts {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #222222;
    margin-top: 38px;
    text-transform: uppercase;
}

.reasons .reason_item {
    display: flex;
    margin-top: 35px;
    min-height: 182px;
}

.reasons .icons_reason {
    background-color: #1eacc7;
    border-radius: 100%;
    width: 113px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    margin-top: 11px;
}

.col-md-6.reason {
    margin-top: 15px;
}

.reasons .reas_desc {
    width: 341px;
}

.reason p.reason_txt {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    color: #202020;
    margin-top: 12px;
    margin-bottom: 0;
}

.reason .reason_txt {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    color: #202020;
    margin-top: 6px;
}

.reason .reason_header {
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
    margin-bottom: 0;
}